.bg-gray {
  background-color: #262627;
  opacity: 0.85;
  color: #3bc004;
  font-family: cursive;
  font-size: 16px;
  font-weight: 300;
}

.bg-black {
  background-color: black;
}

.criando-pares {
  color: #3bc004;
  font-size: 34px;
  font-family: cursive
}