.bg-gray {
  background-color: #262627;
  opacity: 0.85;
  color: #3bc004;
  font-family: cursive;
  font-size: 16px;
  font-weight: 300;
}

.bg-black {
  background-color: black;
}

.criando-pares {
  color: #3bc004;
  font-size: 34px;
  font-family: cursive
}


// body#pages-site {
//   background-color: #000;
//   color: #fff;
//   font-family: 'Archia', sans-serif !important;
//   font-size: 14px;
//   font-weight: 300;
//   line-height: 1.86;
//   margin: 0;
//   overflow-x: hidden;
//   padding: 0;
//   -webkit-backface-visibility: hidden;

//   .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
//     width: 100%;
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
// }

// .navbar .container, .navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl {
//   display: flex;
//   flex-wrap: wrap;
//   /* align-items: center; */
//   justify-content: space-between;
// }